*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: floralwhite;
}

.qw,.er{
    width: 300px;
    height: 90px;
    

}

.qw{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 400px;
}

.yumru{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CD8B62
    ;
}

.qw>p{
    
    font-size: 16px;
    margin-top: 5px;
}

.qw>h2>a{
   color: black;
   text-decoration: none;
}

.er{
    display: flex;
    align-items: center;
    justify-content: center;
}

.er>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 250px;
    

}

.er>ul>li>a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition:  1s all;
}

.er>ul>li{
    padding-right: 10px;
    border-right: solid black 1px;
    display: flex;
}


.er>ul>li>a:hover{
    color: coral;
}



.dair-1>a,.dair-2>a,.dair-3>a{
    text-decoration: none;
    color: black;
} 

footer{
    height: 200px;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
   
    
}

.ty,.ui,.op,.as{
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.ty>a,.ui>a{
    text-decoration: none;
    color: black;
   
}

.ty>h3,.ui>h3{
    margin-bottom: 5px;
}

.as>h6{
    margin-top: 10px;
}



.fa-linkedin{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    color:#475C6C;
}

.fa-twitter{
    font-size: 20px;
    color: #475C6C;
}

hr{
    margin-right: 40px;
    margin-left: 40px;
}

.fa-phone{
    margin-right: 5px;
    color: #475C6C;
}

.fa-envelope{
    margin-right: 5px;
    color: #475C6C;
}

.h223{
    width: 100%;
    height: 100px;
    font-size: 25px;
    padding-left: 165px;
    padding-top: 25px;
    background-color: floralwhite;
    
}

.iner{
    width: 100%;
    height: 400px;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.yy,.tt{
    width: 450px;
    height: 350px;
    
}

.yy>h3{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 20px;
}

.yy>p{
    text-align: justify;
   padding: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tt{
    width: 600px;
    height: 350px;
    
}





.ner{
    width: 100%;
    height: 400px;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.yy0,.tt0{
    width: 450px;
    height: 350px;
    
    
}

.tt0{
   
    width: 600px;
    height: 350px;
}

.yy0>h3{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 20px;
}

.yy0>p{
    text-align: justify;
   padding: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.fa-bars{
    display: none;
}

@media screen and (max-width: 680px) {
.qw{
    display: none;
}  

header{
    justify-content: space-around;
}

.fa-bars{
    display: block;
    font-size: 20px;
    transition: 1s all;
    cursor: pointer;
}

.fa-bars:hover{
    color: coral ;
}


.ty>h3,.ui>h3,.op>h3{
    font-size: 13px;
}

.ty>a,.ui>a{
    font-size: 10px;
}

.ty>.fa-phone,.ui>.fa-envelope,.op>.fa-linkedin{
    font-size: 10px;
}

.op>.fa-twitter{
    font-size: 10px;
}

 .h22>h2{
    font-size: 25px;
    
 }

 .iner,.ner,.er01{
    
    height: 600px;
    flex-direction: column;
    padding-bottom: 10px;
    
 }

 video{
    width: 400px;
    height: 350px;
    margin-left: 100px;
 }



 
 }




